/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

h1 {
    margin-top: 20px;
}

section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.project {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project a {
    color: #007BFF;
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

ul {
    padding-left: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

footer p {
    margin: 0;
}

.project-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
